/* HEADER */
.top {
	background-color: var(--bg-lgreen);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	max-height: 400px;
}

#img-bg {
	width: 100%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* BODY */
.main {
	width: 95%;

	margin-left: auto;
	margin-right: auto;
}

/* ABOUT */
#about {
	/* background-color: var(--bg-green); */
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-bottom: 4em;
}

.about-text {
	padding: 0.5em;
}

.about-text > h1 {
	text-align: center;
}

.image {
	display: flex;
	justify-content: center;
}

.image-medium {
	background-color: var(--clr-yellow);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	align-self: center;
	margin: 0.5em;
}

/* TESTIMONIALS */

#testimonials {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	padding: 1em;
	margin-bottom: 2em;
}

.card {
	border: 1px solid black;
	border-radius: 5px;
	padding: 1em 1em;
	background: #767a4c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#8e905d,
		#767a4c
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#8e905d,
		#767a4c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* PRICING */
#pricing {
	display: grid;
	grid-template-columns: 1fr 1fr;

	background-color: var(--bg-lgreen);
	margin-bottom: 4em;
}

.img-price {
	width: 100%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* CONTACT */
input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: white;
}

input[type="submit"] {
	background-color: var(--bg-green);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: var(--bg-lgreen);
}

#form_container {
	border-radius: 5px;
	padding: 20px;
	margin-top: 5rem;
	background-color: var(--clr-white);
}

@media (max-width: 580px) {
	.main {
		width: 100%;
	}

	.about-text {
		grid-area: text;
	}

	.image {
		grid-area: image;
	}

	#about {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"image"
			"text";
		gap: 0.5em;
	}
}

@media (max-width: 750px) {
	#testimonials {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 0.5em;
	}
}

@media (max-width: 900px) {
	#pricing {
		display: grid;
		grid-template-columns: 1fr;

		background-color: var(--bg-lgreen);
		margin-bottom: 4em;
	}
}
